<table class="table my-5 text-dark">
    <thead class="table-success">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Mime Type</th>
            <th scope="col">Before</th>
            <th scope="col">After</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= image.name %>
                </th>
            <td>
                <%= image.mimetype %>
            </td>
            <td class="text-danger">
                <%= image.sizeBefore %>
            </td>
            <td class="text-success">
                <%= image.sizeAfter %>
            </td>
            <td><a class="btn btn-primary" download="compressed-<%=image.name %>" href="<%= image.href %>">Download</a>
            </td>
        </tr>
    </tbody>
</table>